#!/bin/bash

alias less=$PAGER 
alias zless=$PAGER 

alias emacs='emacs -nw'

alias c="clear"
alias cl="clear"

alias l="ls -laFbh"
alias cdc="clear;date;cal"

alias grep="grep --color=always"
alias egrep="egrep --color=always"
alias fgrep="fgrep --color=always"

# Push and pop directories on directory stack
alias pu='pushd'
alias po='popd'

# Basic directory operations
alias ...='cd ../..'
alias -- -='cd -'

alias ga='git add'
alias gaa='git add -A'
alias gp='git push'
#alias gl="git log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias gl="git log --graph --abbrev-commit --date=relative"
alias gs='git status'
alias gd='git diff'
alias gdc='git diff --cached'
alias gm='git commit -m'
alias gma='git commit -am'
alias gcp='git cherry-pick'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'
alias gst='git stash'
alias gsp='git stash pop'
alias gsd='git stash drop'
alias gt='git tag'

alias mv="mv -i"
alias cp="cp -i"
alias rm="rm -i"

alias oe="open -a Emacs ."
alias o="open ."
alias o.="open ."

alias cd..="cd .."
alias cd...="cd ../.."

alias tc="tmux new -s"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"
alias tl="tmux ls"
alias td="tmux detach"

# iOS - Hey will, this is called commenting
alias fuckxcode="rm -rf $HOME/Library/Developer/Xcode/DerivedData"
alias fl='fastlane'
alias lane='fastlane'

alias localip="ipconfig getifaddr en0"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

alias v='vim .'
