#!/bin/bash

# Editors.
export EDITOR="vim"
export VISUAL="vim"

#LS Colors
export CLICOLOR=1
export LC_CTYPE=$LANG

#
# Color grep results
# Examples: http://rubyurl.com/ZXv
#
# export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;32'

# devkitARM
export DEVKITPRO=/opt/devkitpro
export DEVKITARM=$DEVKITPRO/devkitARM

export PYENV_ROOT="$HOME/.pyenv"

export PATH=$HOME/.bin:$PYENV_ROOT/bin:$DEVKITARM/bin:/Library/TeX/texbin:$PATH

source_environment() {
    if [ "$PWD" != $"$LAST_PWD" ]; then
        LAST_PWD="$PWD";
        if [ -f activate.env ]; then
            source activate.env
        fi
    fi
}

export PROMPT_COMMAND=source_environment # bash hook before prompt loads

precmd() { # zsh hook to emulate bash hook
    eval "$PROMPT_COMMAND"
}
