#!/bin/bash

# Editors.
export EDITOR="vim"
export VISUAL="vim"

#LS Colors
export CLICOLOR=1
export LC_CTYPE=$LANG

#
# Color grep results
# Examples: http://rubyurl.com/ZXv
#
# export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;32'

# devkitARM
export DEVKITPRO=/opt/devkitpro
export DEVKITARM=$DEVKITPRO/devkitARM

export PYENV_ROOT="$HOME/.pyenv"

export PATH=$HOME/.bin:$PYENV_ROOT/bin:$PATH

export PATH=/usr/local/anaconda3/bin:"$PATH"
export PATH=/Applications/calibre.app/Contents/console.app/Contents/MacOS:"$PATH"
