#!/bin/bash

# Find with Grep

function fg() {
    if [ -z $2 ]; then
	echo "Correct use fg <dir> <grepString>"
        return 0
    fi
    find $1 -print 2>1 | grep $2
}


# Extract things. Thanks to urukrama, Ubuntuforums.org
function extract() {
     if [ -f $1 ] ; then
         case $1 in
             *.tar.bz2)   tar xjf $1;;
             *.tar.gz)    tar xzf $1;;
             *.bz2)       bunzip2 $1;;
             *.rar)       rar x $1;;
             *.gz)        gunzip $1;;
             *.tar)       tar xf $1;;
             *.tbz2)      tar xjf $1;;
             *.tgz)       tar xzf $1;;
             *.zip)       unzip $1;;
             *.Z)         uncompress $1;;
             *.7z)        7z x $1;;
             *)           echo "'$1' cannot be extracted via extract()" ;;
         esac
     else
         echo "'$1' is not a valid file"
     fi
}

function take() {
  mkdir -p $1
  cd $1
}

# Git
function lclone() {
    git clone ssh://git@git.datagno.me:50000/${1}.git
}

function radclone() {
    git clone git@gitlab.com:radlab/${1}.git
}

function gclone() {
    git clone https://github.com/${1}.git
}

# iOS
function iosadd() {
    ios devices:add "${1}"=${2}
}

function iosmanage() {
    ios profiles:manage:devices --type distribution
}

function cy() {
    ssh -t ios "cycript -p $1"
}

# Arduino IDE
function arduino-lib() {
    rm -rf ~/Documents/Arduino/libraries
    ln -s ${PWD} ~/Documents/Arduino/libraries
}

function load_nvm() {
    . ~/.nvm/nvm.sh
}

function load_pyenv() {
    eval "$(pyenv init -)"
}

function slack_upload() {
    curl -F file=@$1 -F channels=${SLACK_CHANNEL} -F token=${SLACK_TOKEN} -F initial_comment="$2" https://slack.com/api/files.upload
}

function reset_webcam() {
    sudo killall FaceTime
    sudo killall VDCAssistant
    open /Applications/FaceTime.app
}
